<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
<!--        <listener class-name="ExtentReportPackage.ExtentReporterNG"/>-->
        <listener class-name="Test.CustomListener"/>

    </listeners>

    <test name="shubhi" >
        <classes>
            <class name="Test.Selenium.SeleniumPractice"/>
            <class name="Test.AirthmaticTest"/>
            <class name="Test.AnnotationsPracticeTest"/>
            <class name="Test.AnootationPracticeTwoTest"/>
            <class name="Test.GenerateRandomEmail"/>
            <class name="Test.WaitPractice">
                <methods>
                    <include name="waitTests"/>
                    <include name="fib"/>
                </methods>
            </class>
            </classes>
        </test>

        <test name="bansal" >
            <classes>
          <class name="Test.InterfacesPractice.ImplementingClass"/>
                <class name="Test.InterfacesPractice.LambdaTest"/>
                <class name="Test.InterfacesPractice.PracticeLambdaTest"/>
                <class name="Test.ExamplesInitializationTest"/>
                <class name="Test.Hello"/>
                <class name="Test.MySqlTest"/>
                <class name="Test.PracticeConstructorTest"/>
                <class name="Test.ReadFileTest"/>
                <class name="Test.SauceDemoTest"/>
                <class name="Test.SeleniumTest"/>
                <class name="Test.TakeElementScreenshot"/>
                <class name="Test.WebTablePracticeTest"/>
                <class name="Test.ArtOfTesting.ArtOfTestingTest"/>
                <class name="Test.IncedoTest"/>
                <class name="Test.IncedoTest1"/>
                <class name="Test.PdfTest"/>
                <class name="Test.AlertTest"/>
                <class name="Test.Selenium.FramePracticeTest"/>


            </classes>
        </test>



    </suite>
